MEDIA_ROOT=/mnt/data/staging/procrustes
MEDIA_ENCODE=/mnt/cache/appdata/procrustes/encode
MEDIA_CONFIG=/mnt/cache/appdata/procrustes/config
CERT_PATH=/mnt/cache/appdata/swag/certs-dist
MOVIES_PATH=/srv/media/movies
TV_PATH=/srv/media/tv
RENDER_GID=105
CONTAINER_CPUS=8
CONTAINER_MEM=16g
